.admin-page-container {
    nav {
        font-size: 20px;

        ul {
            padding: 0;
            margin: 20px 0;
            display: flex;
            grid-gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    text-align: center;
                    color: $primary-text-color;
                    display: block;
                    width: 80px;
                }

                a.active-link {
                    padding-bottom: 5px;
                    border-bottom: 2px solid $primary-color;
                }

                &:hover {
                    background-color: $hover-color-link;
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .admin-page-container {
        nav{
            ul{
                justify-content: center;
                grid-gap: 10px;
                li{
                    font-size: 15px;
                }
            }
        }
    }
}
