.admin-page-container {
    nav {
        font-size: 20px;

        ul {
            padding: 0;
            margin: 20px 0;
            display: flex;
            grid-gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    text-align: center;
                    color: #000f;
                    display: block;
                    width: 80px;
                }

                a.active-link {
                    padding-bottom: 5px;
                    border-bottom: 2px solid #000f;
                }

                &:hover {
                    background-color: #f1efef;
                }
            }
        }
    }
}
