.checkout-container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 30px auto;

    .form-address-container {
        margin: 0;
        box-shadow: none;
        padding: 0;
        width: 100%;
    }

    .shipping,
    .summary {
        width: 70%;
        padding: 30px 50px;
        border: 2px solid #000f;
        margin-top: 30px;

        p {
            font-size: 30px;
        }

        hr {
            margin-bottom: 30px;
        }
    }
}

.checkout-step {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .checkout-line {
        flex-grow: 2;
        margin: 0 20px;
        height: 2px;
        border: 1px solid #000f;
        background-color: #000f;
    }
}

// summary
.checkout-container {
    .summary {
        .col-product {
            display: flex;
            padding: 10px 15px;
            border-bottom: 1px solid #d1d1d1;
            grid-gap: 20px;
            font-size: 15px;

            div {
                width: 15%;
            }

            .col-name {
                width: 50%;
            }
        }

        .update-summary {
            margin-top: -20px;
            margin-bottom: 20px;

            button {
                height: 50px;
                color: #ffff;
                background-color: #000f;
                border: 1px solid #000f;
                width: 100%;
            }
        }

        .product-items {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #d1d1d1;
            padding: 15px 10px;
            box-sizing: border-box;
            grid-gap: 20px;

            div {
                width: 15%;
            }

            img {
                width: 100%;
            }

            .name {
                width: 50%;
            }

        }

        .summary-total {
            margin-top: 30px;
            text-align: end;

        }
    }
}

//payment
.checkout-container {
    .payment {
        position: absolute;
        top: 257px;
        right: 120px;
        width: 23%;
        border: 2px solid #000f;
        padding: 10px 20px;
        box-sizing: border-box;
        z-index: 4;

        p {
            font-size: 25px;
        }

        .payment-detail {

            .subtotal,
            .shipping-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .total {
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-payment {
            button {
                color: #ffff;
                background-color: #000f;
                width: 100%;
                height: 50px;
                margin: 15px 0;
            }
        }

        .payment-bottom {
            margin-top: 100px;
            height: 100px;
        }

        .payment-alert{
            color: #dc3545;
        }
    }


}

@media only screen and(max-width: $breakpoint-xxl) {

    .checkout-container {
        .payment {
            width: 25%;
            right: 30px;
        }
    }

}

@media only screen and(max-width: $breakpoint-xl) {
    .checkout-container {
        .your-order {
            margin: 0 auto;

            &>div {
                width: 100%;
            }
        }

        .payment {
            position: static;
            width: 70%;
            padding: 30px 50px;
            border: 2px solid #000f;
            margin-top: 30px;

            p {
                font-size: 30px;
            }

            hr {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and(max-width: $breakpoint-md) {
    .checkout-container {
        .your-order {
            &>div {
                padding: 20px;
            }
        }
    }
}

@media only screen and(max-width: $breakpoint-sm) {
    .checkout-container {
        padding: 10px;

        .checkout-step {
            font-size: 9px;
            margin-top: -20px;

            .checkout-line {
                margin: 0 10px;
                border: none;
                border-bottom: 1px solid #000f;
            }
        }

        .your-order {
            margin-top: -20px;

            .title {
                margin-bottom: -20px;
            }

            &>div {
                padding: 10px 10px;
            }

            .col-product,
            .product-items {
                font-size: 10px;
                grid-gap: 2px;
                padding: 20px 0;

                div {
                    width: 20%
                }
            }

            .summary-total{
                margin-top: 16px;
                h5{
                    font-size: 14px;
                }
            }
        }
    }
}
