.form-user-container {
    margin: 20px auto;
    max-width: 900px;
    padding: 50px;
    border: 2px solid #000f;

    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {

            font-size: 30px;
            cursor: pointer;

            &:hover {
                color: #ab9f9f;
            }
        }

    }

    .row>div {
        margin: 14px 0;
    }
}

@media only screen and (max-width: $breakpoint-md) {
    .form-user-container {
        padding: 20px;
        margin: 10px auto;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .form-user-container {
        box-shadow: none;
        padding: 10px;
        margin: 30px auto;
    }
}
