.form-product-container {
    max-width: 970px;
    margin: 20px auto;

    h2 {
        margin-bottom: 20px;
    }

    form {
        border: 2px solid #000f;
        padding: 30px;

        .row>div {
            margin: 14px 0;
        }
    }

    .form-btn {
        display: flex;
        grid-gap: 10px;
    }

    .button-primary,
    .button-secondary {
        padding: 10px 20px;
        border: 1px solid #000f;
    }

    .button-primary {
        background-color: $btn-primary-color;
        color: $btn-primary-text-color;
    }

    .button-secondary {
        background-color: $btn-secondary-color;
    }

    .show-image-product {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .form-product-container {
        form {
            padding: 10px;
        }
    }
}
