.spinner-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .spinner-border {
        margin: 25px 0;
        width: 300px;
        height: 300px;
    }
}

@media only screen and(max-width: $breakpoint-md){
    .spinner-loading{
        .spinner-border{
            width: 150px;
            height: 150px;
        }
    }
}
