.order-container {
    .swap-btn {
        i {
            margin-right: 5px;
            font-size: 20px;
        }

        border: 1px solid #000f;
        height: 40px;
        color: #ffff;
        background-color: #000f;
    }

    .send-btn{
        button{
            color: #ffff;
            background-color: #000f;
        }
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    table {
        min-width: 700px;
        margin: 30px 0;

        thead {
            background-color: #000f;
            color: #ffff
        }
    }

    .order-item {
        td {
            padding: 20px 10px;
        }

        img {
            max-width: 30px;
        }
    }
}

@media only screen and (max-width: $breakpoint-md) {
    .order-container {
        table {
            font-size: 15px;
        }
    }
}
