.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 50;
}

.behind-navbar-fixed,
.navbar {
    height: 95px;
}

.navbar {
    background-color: $primary-color;
    padding: 0 30px;
    position: relative;

    a {
        font-size: 17px;
        font-weight: 500;
        color: $secondary-text-color;
        text-decoration: none;

        &:hover {
            color: $hover-color-link;
        }
    }

    .sign-dropdown {
        ul {
            a {
                color: $primary-text-color;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
            list-style: none;

            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }
}

.navbrand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Satisfy', cursive;

    a {
        font-size: 40px;

        &:hover {
            color: $hover-color-link;
        }
    }

}

.nav-items {
    i {
        font-size: 25px;
    }
}

.menu-btn {
    display: none;

    i {
        font-size: 35px;
    }
}


// sign button
.navbar {
    .sign-button {
        border-radius: 10px;
        background-color: $secondary-color;
        color: $primary-color;
        padding: 7px;
        border: 1px solid $secondary-color;
        transition-duration: 0.4s;

        &:hover {
            color: $primary-color;
        }
    }

    .sign-dropdown {
        position: relative;

        ul {
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            display: flex;
            background-color: $secondary-color;
            right: 0px;
            width: 0px;
            border: 1px solid black;


            li {
                width: 100%;
                padding: 10px 5px;
                border-bottom: 1px solid $hover-color-link;

                &:hover:not(:first-child) {
                    background-color: $hover-color-link;
                }

                a {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}


@media only screen and (max-width: $breakpoint-md) {
    .navbar {
        padding: 0 13px;

        .sign-button {
            display: none;
        }

        .sign-dropdown {
            display: none;
        }

        .nav-items li:nth-child(2) {
            margin: 0;
        }
    }

    .navbrand {
        a {
            font-size: 26px;
        }
    }

    .menu-btn {
        display: block;

        i {
            font-size: 35px;
        }
    }

    ul.nav-links {
        display: none;
    }
}
