.btn-update-form,
.btn-cancel-form {
    background-color: $btn-white-color;
    padding: 10px 20px;
    border: 1px solid #000f;
}

.btn-update-form {
    background-color: $btn-primary-color;
    color: $btn-primary-text-color;
    margin: 10px;
}
