.btn-update-form,
.btn-cancel-form {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #000f;
}

.btn-update-form {
    background-color: #000f;
    color: #ffff;
    margin: 10px;
}
