.product-container {
    width: 100%;
    height: 90vh;
    display: flex;
}

.show-product {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;

    img {
        width: 500px;
        object-fit: cover;
        object-position: center;
    }
}

.product-detail {
    width: 50%;
    padding: 110px;
}

.product-detail {
    .product-price {
        font-size: 26px;
    }

    .product-description {
        margin: 30px 0;
    }

    .add-product {
        display: flex;

        &>div {
            margin-right: 10px;
        }

        input {
            width: 70px;
            height: 50px;
            text-align: center;
            font-size: 25px;
            box-sizing: border-box;
            padding-left: 15px;
        }

        button {
            height: 50px;
            background-color: $btn-white-color;
            border: 1px solid #00000f;
            padding: 10px 25px;
            box-sizing: border-box;
        }

        .buy-now {
            button {
                color: $btn-primary-text-color;
                background-color: $btn-primary-color;
            }
        }
    }

}

@media only screen and (max-width: $breakpoint-xl) {
    .product-container {
        height: auto;
        display: flex;
        flex-direction: column;

        .show-product {
            width: 100%;
        }

        .product-detail {
            width: 100%;
            height: 500px;
            padding: 60px;
        }
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .product-container {
        .show-product {
            img {
                width: 100%;
            }
        }

        .product-detail {
            padding: 20px
        }

        .add-product {
            font-size: 12px;
        }
    }
}
