$primary-color: #242425;
$secondary-color: #ffff;
$primary-text-color: #000f;
$secondary-text-color: #ffff;
$hover-color-link: #d3d5d7;

$btn-primary-color: #000f;
$btn-primary-text-color: #ffff;
$btn-secondary-color: #ece7e7;
$btn-white-color: #ffff;
$btn-white-text-color: #000f;

$danger-color: #dc3545;
